@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Slab:wght@100;300&display=swap');
.titulo {
font-family: 'Montserrat', sans-serif;
text-align:center;
}

body{
    background: linear-gradient(to right, rgb(1, 1, 49),rgba(72, 255, 0, 0.234));
    display: flex;
    flex-direction: column;
    align-items: center;
}
#primeiro_item {
    color:rgb(234, 255, 0)
}
#caixa{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    margin: 20px;
    background-color: cyan;
    border-radius:14pt;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
}
    
#titulo_principal {
    font-family: 'Edu TAS Beginner', cursive;
    color:rgb(35, 41, 39);
    font-size: 65pt;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px 30px 0px 30px;
    border: solid 2px;
    border-radius: 10px;    
}
main{
    margin-bottom: 80px;    
}

#imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
label, input,button {
    font-size: 16pt;
}  
input,button{
    background-color: transparent;
    border: solid 1px;
    border-color: rgb(15, 17, 17);
    border-radius: 6pt;

} 
